---
layout: layouts/demo.njk
title: Sequenced 3D display
---
{% block head %}
<script>
    const go = new Go();
    WebAssembly.instantiateStreaming(fetch("/wasm/sequence.wasm"), go.importObject).then((result) => {
        go.run(result.instance);
    });
</script>
{% endblock head %}
