---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<p>This is my personal blog page, being develop and written for fun in my free time. If you spot any bugs or mistakes please <a href="https://github.com/tomasz-brak/blogPer/issues">submit an issue</a> on github</p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
